<!DOCTYPE html>

<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Intranet des IUT de Troyes et Reims Châlons Charleville. Gestion de la scolarité des étudiants en DUT, B.U.T. et LP. GEA, TC, MMI, GMP, GEII, CJ.">
    <meta name="keywords" content="DUT, B.U.T., LP, GEA, TC, MMI, GMP, GEII, CJ, intranet, scolarite">
    <meta name="description" content="Intranet des IUT de Troyes et Reims Châlons Charleville. Gestion de la scolarité des étudiants en DUT, B.U.T. et LP. GEA, TC, MMI, GMP, GEII, CJ.">
    <meta name="keywords" content="DUT, B.U.T., LP, GEA, TC, MMI, GMP, GEII, CJ, intranet, scolarite">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#1F7BBB">

    <title> Intranet IUT de Reims Châlons Charleville</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://iut-rcc-intranet.univ-reims.fr/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://iut-rcc-intranet.univ-reims.fr/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://iut-rcc-intranet.univ-reims.fr/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://iut-rcc-intranet.univ-reims.fr/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://iut-rcc-intranet.univ-reims.fr/favicon-16x16.png">

    <link rel="stylesheet" href="https://api-croustillant.bayfield.dev/v1/betteriutrcc/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body class="rcc" data-controller="global" cz-shortcut-listen="true">
    <aside class="sidebar sidebar-expand-lg sidebar-iconic" id="sidebar">
        <header class="sidebar-header" style="background-color: white">
            <span class="logo text-cente">
                <a href="https://iut-rcc-intranet.univ-reims.fr/fr/tableau-de-bord" class="div_logo">
                    <img src="https://iut-rcc-intranet.univ-reims.fr/upload/logo/logo_intranet_iut_troyes.svg"
                        alt="logo de l&#39;intranet.">
                </a>
            </span>
        </header>
        <nav class="sidebar-navigation ps-container ps-theme-default ps"
            data-ps-id="9edea121-7e34-6d68-3caa-50294dffdd48">
            <ul class="menu">
                <li class="menu-item" id="menu-tableau-de-bord">
                    <a class="menu-link" href="https://iut-rcc-intranet.univ-reims.fr/fr/tableau-de-bord">
                        <i class="fas fa-home fa-2x">
                            <span class="sr-only">dashboard</span>
                        </i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active" id="menu-crous">
                    <a class="menu-link" href="https://iut-rcc-intranet.univ-reims.fr/fr/crous">
                        <i class="fas fa-utensils fa-2x">
                            <span class="sr-only">restaurants</span>
                        </i>
                        <span class="title">Restaurants</span>
                    </a>
                </li>
                <li class="menu-item" id="menu-trombinoscope">
                    <a class="menu-link" href="https://iut-rcc-intranet.univ-reims.fr/fr/trombinoscope/">
                        <i class="fas fa-user-friends fa-2x">
                            <span class="sr-only">group</span>
                        </i>
                        <span class="title">Trombinoscope</span>
                    </a>
                </li>
                <li class="menu-item" id="menu-agenda">
                    <a class="menu-link" href="https://iut-rcc-intranet.univ-reims.fr/fr/agenda/planning/2023">
                        <i class="fas fa-calendar-alt fa-2x">
                            <span class="sr-only">calendar</span>
                        </i>
                        <span class="title">Agenda</span>
                    </a>
                </li>
                <li class="menu-item" id="menu-application">
                    <a class="menu-link" href="https://iut-rcc-intranet.univ-reims.fr/fr/application">
                        <i class="fas fa-toolbox fa-2x">
                            <span class="sr-only">applications</span>
                        </i>
                        <span class="title">Applications</span>
                    </a>
                </li>
                <li class="menu-item" id="menu-document">
                    <a class="menu-link" href="https://iut-rcc-intranet.univ-reims.fr/fr/document">
                        <i class="fas fa-folder fa-2x">
                            <span class="sr-only">Documents</span>
                        </i>
                        <span class="title">Documents</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <header class="topbar">
        <div class="topbar-left">
            <a class="topbar-btn d-none d-md-block" href="https://iut-rcc-intranet.univ-reims.fr/fr/tableau-de-bord">
                Retour au Tableau de Bord
            </a>
            <a class="topbar-btn d-none d-md-block" href="https://github.com/PaulBayfield/Better-IUT-RCC"
                target="_blank">
                Better IUT RCC
            </a>
        </div>
    </header>
    <main class="main-container">
        <div class="main-content" id="mainContent">
            <div class="row">
                <div class="col-sm-12 col-md-8 fade-in" style="margin: 0px auto;">
                    <div class="card" id="graph"
                        style="scroll-margin-top: 90px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;">
                        <header class="card-header">
                            <h4 class="card-title">Aperçu du Menu</h4>
                        </header>
                        <div class="card-body" style="overflow: auto;">
                            <img src="https://api-croustillant.bayfield.dev/v1/restaurants/871/menu/{{date}}/image?theme={{theme}}" id="image-menu"
                                alt="Menu du CROUS" style="width: 100%; border-radius: 10px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 fade-in">
                    <div class="col-sm-12 col-md-12 fade-in" style="margin: 0px auto;">
                        <div class="card" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;">
                            <header class="card-header">
                                <h1 class="header-title" id="header-title">
                                    Menu du <strong>CROUS</strong>
                                </h1>
                            </header>
                            <div class="card-body" style="overflow: auto;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">
                                        <i class="fas fa-utensils"></i>
                                        Restaurants
                                    </li>
                                </ol>
                                <div class="nav-dotted nav-dot-separated">
                                    <a class="nav-link" href="https://api-croustillant.bayfield.dev/v1/contact" target="_blank">
                                        🆘 Signaler un problème avec le Menu
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 fade-in" style="margin: 0px auto;">
                        <div class="card" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;">
                            <header class="card-header">
                                <h4 class="card-title">Choisir un Restaurant</h4>
                            </header>
                            <select class="form-select" id="restaurant" name="restaurant"
                                style="width: 90%; margin: 10px auto; border-radius: 10px;">
                                <option value="871">Restaurant Universitaire Moulin de la Housse - Reims</option>
                                <option value="880">Restaurant Universitaire Moulin Le Blanc - Charleville</option>
                                <option value="869">Restaurant Universitaire Les Lombards - Troyes</option>
                                <option value="875">Restaurant Universitaire ENSAM - Châlons-en-Champagne</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 fade-in" style="margin: 0px auto;">
                        <div class="card" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;">
                            <header class="card-header">
                                <h4 class="card-title">Informations Suplémentaires</h4>
                            </header>
                            <div class="card-body">
                                <p class="mb-0">
                                    ✨ Propulsé par
                                    <a href="https://github.com/PaulBayfield/Better-IUT-RCC" target="_blank"
                                        style="text-decoration: underline;">Better IUT RCC</a> • Réalisé avec ❤️ par <a
                                        href="https://bayfield.dev" target="_blank"
                                        style="text-decoration: underline;">Paul Bayfield</a> & <a
                                        href="https://github.com/simon511000" target="_blank"
                                        style="text-decoration: underline;">Simon Ledoux</a>
                                </p>
                                <br>
                                <p class="text-md-left">
                                    🍴 Menu des Restaurants Universitaires proposé par
                                    <a href="https://github.com/Croustillant-developpement" target="_blank"
                                        style="text-decoration: underline;">CROUStillant Développement</a> ! Réalisé par
                                    <a href="https://bayfield.dev" target="_blank"
                                        style="text-decoration: underline;">Paul Bayfield</a>.
                                </p>
                                <p>
                                    CROUStillant ne collecte ni ne stocke aucune donnée personnelle. Pour plus de questions, contactez nous <a href="https://api-croustillant.bayfield.dev/v1/contact" style="text-decoration: underline;" target="_blank">croustillant.bayfield.dev/contact</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-md-left">Copyright © 2018-2024
                        <a href="https://www.davidannebicque.fr/" target="_blank">@DavidAnnebicque</a>. All rights
                        reserved. | Version 3.14.75
                    </p>
                </div>
                <div class="col-md-6">
                    <ul
                        class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="https://documentation.iutranet.fr/" target="_blank">
                                Aide
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                                href="https://iut-rcc-intranet.univ-reims.fr/fr/mentions-legales/rgpd">Données
                                personnelles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                                href="https://iut-rcc-intranet.univ-reims.fr/fr/mentions-legales/about">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank"
                                href="https://iut-rcc-intranet.univ-reims.fr/fr/mentions-legales/">Mentions Légales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>